/* ./cssFiles/EditEmployee.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #333;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.container {
    width: 50%;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #428bca;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3071a9;
}

a {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
}

a:hover {
    background-color: #555;
}
